/*
1.Posicionamiento 
2.Modelo de caja(Ej: Medidas del box model, Margin, Padding, Etc.)
3.Tipografia
4.Visuales
5.Otros 
*/


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --black-color: #02161D;
  --gray-color: #4a4a48;
  --white-color: #fafafa;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Bebas Neue', cursive;
  font-size: 62.5%;
  color: var(--white-color);
  scroll-behavior: smooth;
}

@media screen and (min-width: 768px) {
  /* About - General */ 
  .title-section {
    font-size: 6.4em;
  }

  .about-quote-paragraph {
    margin:0 auto;
    padding-top: 15%;
    width: 50%;
    font-size: 2.1em;
  }
  .about-info-section-title {
    padding-bottom: 4%;
    font-size: 4.8em;
  }
  #info-quote {
    width: 80%;
  }
  #quote-name {
    margin: auto;
    padding-top: 50px;
    padding-bottom: 15%;
  }
}

