/*
1.Posicionamiento 
2.Modelo de caja(Ej: Medidas del box model, Margin, Padding, Etc.)
3.Tipografia
4.Visuales
5.Otros
*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --black-color: #02161D;
  --gray-color: #4a4a48;
  --white-color: #fafafa;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Bebas Neue', cursive;
  font-size: 62.5%;
  color: var(--white-color);
  scroll-behavior: smooth;
}

@media screen and (min-width: 996px) {
  /* Header */
  .navbar-expand-lg .navbar-collapse {
    justify-content: center;
  }

  .navbar-brand {
    margin: 0 30px;
  }

  .nav-item {
    margin: 0 15px;
  }

  /* Main */
  .section-header {
    height: 110vh;
    width: auto;
  }

  .title-section {
    font-size: 7.6em;
  }

  .card-titles-container {
    padding-top: 25%;
  }

  /* Section hots */
  .section-hots {
    width: 40%;
    position: absolute;
    top: 100px;
    right: 30px;
  }

  .card-travels-container--title {
    background: none;
  }

  .card-travel-container {
    display: block;
  }

  .card-footer {
    display: block;
  }

  .card-travel {
    width: 100%;
    height: 150px;
  }

  #morocco {
    display: block;
    background-image: url("../img/morocco.jpg");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
  }

  .card-footer {
    padding: 10px;
    background-color: var(--black-color);
  }

  .card-footer > a {
    color: var(--white-color);
    font-size: 2.4em;
    text-decoration: none;
  }

  /* Section populars */
  .section-populars-container {
    display: flex;
    align-items: end;
    margin: auto;
    width: 80%;
  }

  .section-populars-container > .title-section {
    font-size: 6.4em;
    padding-top: 60px;  
  }

   /* Section videos */
  .section-videos {
    display: flex;
    flex-direction: row;
    padding: 100px;
  }

  .section-videos-container {
    align-items: end;
    padding: 0;
  }

  .section-videos-container > .card-video {
    width: 225px;
  }

  .section-videos-container--text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 25px;
    width: 50%;
  }

  .section-videos-container--text > .title-section {
    margin: 0;
    text-align: left;
  }

  .section-videos-container--text > .card-button {
    margin: 0;
    width: 225px;
  }

  .section-videos-container--text > .paragraph-section {
    margin: 0;
    width: 350px;
    text-align: left;
  }

  /* Footer */
  .footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .section-footer--links > ul {
    display: flex;
    margin: auto;
    width: fit-content;
  }

}