/*
1.Posicionamiento 
2.Modelo de caja(Ej: Medidas del box model, Margin, Padding, Etc.)
3.Tipografia
4.Visuales
5.Otros
*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --black-color: #02161D;
  --gray-color: #4a4a48;
  --white-color: #fafafa;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Bebas Neue', cursive;
  font-size: 62.5%;
  color: var(--white-color);
  scroll-behavior: smooth;
}

@media screen and (min-width: 320px) {

  /* Header */
  .fixed-top {
    background-color: var(--black-color);
  }

  .nav-link {
    font-size: 1.6em;
  }

  /* Main */  
  .section-header {
    height: 75vh;
    width: 100vw;
    background-image: url("../img/home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .card-titles-container { 
    padding-top:  250px;;
    padding-left: 8%;
  }

  .card-container {
    display: none;
  }

  .title-section {
    font-size: 4.8em;    
    color: var(--white-color);
  }

  /* Section hots */
  .card-travels-container--title {
    height: 100px;
    padding: 45px 20px;
    margin: 0;
    font-size: 3.2em;
    background-color: var(--black-color);
    color: var(--white-color);
  }

  .card-travel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    height: 180px;
  }

  .card-title {
    font-size: 2.4em;
    color: var(--white-color);
  }

  .card-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    text-decoration: none;
    text-align: center;
    font-size: 1.6em;
    font-weight: bold;
    border-radius: 5px;
    color: var(--black-color);
    background-color: var(--white-color);
  }

  .card-footer {
    display: none;
  }

  .card-button:hover {
    color: white;
    background-color: black;
    filter: drop-shadow(2px 4px 6px black);
  }

  #new-zealand {
    background-image: url(../img/new-zealand.jpg);
    background-size: cover;
  }

  #indonesia {
    background-image: url(../img/indonesia.jpg);
    background-size: cover;
  }

  #canada {
    background-image: url(../img/canada.jpg);
    background-size: cover;
  }

  /* Sections populars */
  .section-populars-container > .title-section{
    padding-top: 30px;
    text-align: center;
  }

  .section-populars {
    display: flex;
    flex-direction: column;
    height: 110vh;
    background-image: url("../img/section-two.png");
    background-size: cover;
  }

  .section-populars > .title-section {
    padding-top: 50px;
    font-size: 3.2em;
    text-align: center;
  }

  .paragraph-section {
    margin: 20px auto;
    width: 80%;
    font-size: 1.4em;
    text-align: center;
    color: var(--white-color);
  }

  .section-populars-container--cards > .card-travel {
    display: flex;
    justify-content: center;
    align-items: self-end;
    padding: 24px;
    margin: 10px auto;
    height: 130px;
    width: 80%; 
    text-align: center;
    filter: drop-shadow(2px 4px 6px black);
    border-radius: 5px;
  }

  .section-populars-container--cards > .card-travel:hover {
    filter: brightness(0.5);
    animation-delay: 3s;
  }

  #norway {
    background-image: url("../img/norway.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  #guatemala {
    background-image: url("../img/guatemala.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  #peru {
    background-image: url("../img/peru.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  #morocco {
    display: none;
  }
   
  /* Sections videos */
  .section-videos {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    background-image: url("../img/section-three.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .section-videos-container--text > .title-section {
    margin: 20px auto;
    text-align: center;  
    width: 80%;
  }

  .section-videos-container--text > .card-button {
    width: 60%;
    margin: auto;
  }

  .section-videos-container--text > .card-button > img {
    margin: 10px;
  }

  .card-video {
    display: block;
    margin: 20px auto;  
    border-radius: 5px;
  }

  /* Footer */
  .footer {
    background-color: var(--black-color);
    color: var(--white-color);
  }

  .section-footer--links > ul {
    padding: 0;
    list-style: none;
  }

  .section-footer--links > ul > li {
    padding: 16px;
    text-align: center;
  }

  .section-footer--links > ul > li > a {
    text-decoration: none;
    font-size: 2.0rem;
  }

  .section-footer--social > p {
    padding: 50px;
    font-size: 2.4rem;
    text-align: center;
  }

  .section-footer--social-container {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 40px;
    width: 60%;
  }
}